.container{
    width: 748px;
    height: 748px;
    background-color: #000;
    display: grid;
    grid-template-columns: 320px 198px 153px 50px;
    grid-template-rows: 414px 130px 155px 22px;
    gap: 9px;
  }  

  .red{
    background-color: #E72F24;
  }
  .white1{
    background-color: #F0F1EC;
    grid-column: span 3;
  }
  .white2{
    background-color: #F0F1EC;
    grid-row: span 2;
  }
  .white3{
    background-color: #F0F1EC;
    grid-area: 2/2/4/4;
  }
  .blue{
    background-color:#004592;
  }
  .white4{
    background-color: #F0F1EC;
    grid-row: span 2;
  }
  .white5{
    background-color: #F0F1EC;
  }
  .yellow{
    background-color: #F9D01E
  }
  .black{
    background-color: #232629
  }